{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/project.Graph */}}
{{- define "config" -}}
namespace: default
appName: {{ pkgName $.Package }}
version: 0.0.1
development: true
log:
  withTraceID: true
  traceIDKey: "traceId"
  cores:
    - level: debug
  rotate:
    localtime: true

# use open telemetry
#otel:
#  traceExporter: otlp
#  otlp:
#    endpoint: "127.0.0.1:4317"
#    client:
#      dialOption:
#        - timeout: 5s
authz:
  watcherOptions:
    options:
      addr: "127.0.0.1:6379"
      channel: "/casbin"
  model: "etc/rbac_model.conf"

jwt: &jwt
  signingMethod: "HS256"
  signingKey: "secret"

web:
  server:
    addr: :8080
  engine:
    routerGroups:
      - default:
          middlewares:
            - cors:
                allowOrigins: ['*']
            - accessLog:
                exclude:
                  - IntrospectionQuery
            - recovery:
            - errorHandle:
            - gzip:
      - graphql:
          basePath: "/graphql"
          middlewares:
            - graphql:
                group: "/graphql"
                withAuthorization: false
                appCode: {{ pkgName $.Package }}
                middlewares:
                  operation:
                    - tenant:
                    - jwt: *jwt
                    # - tokenSign: # 利用IDE开发时,可注释
                header: ## dev mode, remove in production, set the value in your .env.local
                  X-Tenant-ID: ${TENANT}
                  Authorization: "${AUTHORIZATION}"

store:
  {{ pkgName $.Package }}:
    driverName: mysql
    dsn: "root:@tcp(localhost:3306)/{{ pkgName $.Package }}?parseTime=true&loc=Local"

cache:
  redis:
    driverName: redis
    addrs:
      - 127.0.0.1:6379
    db: 1
    local:
      size: 1000
      ttl: 100s

entcache:
  hashQueryTTL: 5s

kosdk:
  client:
    timeout: 2s
    oauth2:
      clientID: 206734260394752
      clientSecret: T2UlqISVFq4DR9InXamj3l74iWdu3Tyr
      endpoint:
        tokenURL: http://127.0.0.1:10070/token
      scopes:
      # to cache->redis,if not set,will not cache in memory
      storeKey: redis
  signer:
    authScheme: "KO-HMAC-SHA1"
    authHeaders: [ "timestamp", "nonce" ]
    signedLookups:
      accessToken: "header:authorization>bearer"
      timestamp:
      nonce:
      url: CanonicalUri
    nonceLen: 12
  plugin:
    msg:
      basePath: "http://127.0.0.1:10072/api/v2"
{{- end -}}