{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/project.Graph */}}
{{ define "codegen/entgen/entc" }}
{{ with $.Header }}{{ . }}{{ end }}
package main

import (
	"entgo.io/contrib/entgql"
	"entgo.io/contrib/entproto"
	"entgo.io/ent/entc"
	"entgo.io/ent/entc/gen"
	"github.com/woocoos/entco/genx"
	"log"
	"os"
)

func main() {
	ex, err := entgql.NewExtension(
		entgql.WithSchemaGenerator(),
		entgql.WithWhereInputs(true),
		entgql.WithConfigPath("codegen/gqlgen/gqlgen.yaml"),
		entgql.WithSchemaPath("api/graphql/ent.graphql"),
		entgql.WithSchemaHook(genx.ChangeRelayNodeType()),
	)
	if err != nil {
		log.Fatalf("creating entgql extension: %v", err)
	}
	os.MkdirAll("./api/graphql", os.ModePerm)
	opts := []entc.Option{
		genx.GlobalID(),
		genx.SimplePagination(),
	}
	err = entc.Generate("./codegen/entgen/schema", &gen.Config{
		Package:  "{{ .Config.Package }}/ent",
		Features: []gen.Feature{gen.FeatureVersionedMigration, gen.FeatureUpsert, gen.FeatureIntercept},
		Target:   "./ent",
	}, opts...)
	if err != nil {
		log.Fatalf("running ent codegen: %v", err)
	}
}
{{ end }}

{{ define "codegen/gqlgen/gqlgen" }}
{{ with $.Header }}{{ . }}{{ end }}
package main

import (
	"github.com/99designs/gqlgen/api"
	"github.com/99designs/gqlgen/codegen/config"
	"github.com/99designs/gqlgen/plugin/modelgen"
	"github.com/vektah/gqlparser/v2/ast"
	"log"
	"os"
)

// Defining mutation function
func constraintFieldHook(td *ast.Definition, fd *ast.FieldDefinition, f *modelgen.Field) (*modelgen.Field, error) {
	// Call default hook to proceed standard directives like goField and goTag.
	// You can omit it, if you don't need.
	if f, err := modelgen.DefaultFieldMutateHook(td, fd, f); err != nil {
		return f, err
	}

	c := fd.Directives.ForName("constraint")
	if c != nil {
		formatConstraint := c.Arguments.ForName("format")

		if formatConstraint != nil {
			f.Tag += " validate:" + formatConstraint.Value.String()
		}
	}
	return f, nil
}

func main() {
	cfg, err := config.LoadConfig("./codegen/gqlgen/gqlgen.yaml")
	if err != nil {
		log.Print("failed to load config", err.Error())
		os.Exit(2)
	}

	// Attaching the mutation function onto modelgen plugin
	p := modelgen.Plugin{
		FieldHook: constraintFieldHook,
	}

	err = api.Generate(cfg, api.ReplacePlugin(&p))

	if err != nil {
		log.Print(err.Error())
		os.Exit(3)
	}
}

{{ end }}

{{ define "codegen/gqlgen/gqlgen.yaml" }}

 schema:
  - api/graphql/ent.graphql
  - api/graphql/types.graphql
  - api/graphql/query.graphql
  - api/graphql/mutation.graphql

# Where should the generated server code go?
exec:
  layout: follow-schema
  dir: api/graphql/generated
  package: generated

# Where should any generated models go?
model:
  filename: api/graphql/model/models_gen.go
  package: model

# resolver reports where the resolver implementations go.
resolver:
  layout: follow-schema
  dir: api/graphql
  package: graphql

# Optional: set to skip running `go mod tidy` when generating server code
skip_mod_tidy: true

# Optional: turn on to exclude the gqlgen version in the generated file notice. No effect if `omit_gqlgen_file_notice` is true.
omit_gqlgen_version_in_file_notice: true

# gqlgen will search for any type names in the schema in the generated
# ent package. If they match it will use them, otherwise it will new ones.
autobind:
  - {{ .Config.Package }}/ent

models:
  ID:
    model:
      - github.com/99designs/gqlgen/graphql.IntID
  GID:
    model:
      - github.com/99designs/gqlgen/graphql.ID
  Node:
    model:
      # ent.Noder is the new interface generated by the Node template.
      - {{ .Config.Package }}/ent.Noder
directives:
  constraint:
    skip_runtime: true
{{ end }}

{{ define "codegen/entgen/schema/helloworld" }}
package schema

import (
	"entgo.io/contrib/entgql"
	"entgo.io/ent"
	"entgo.io/ent/dialect/entsql"
	"entgo.io/ent/schema"
	"entgo.io/ent/schema/field"
	"github.com/woocoos/entco/schemax"
)

// HelloWorld holds the schema definition for the HelloWorld entity.
type HelloWorld struct {
	ent.Schema
}

func (HelloWorld) Annotations() []schema.Annotation {
	return []schema.Annotation{
		entsql.Annotation{Table: "hello_world"},
		entgql.RelayConnection(),
		entgql.Mutations(entgql.MutationCreate(), entgql.MutationUpdate()),
	}
}

func (HelloWorld) Mixin() []ent.Mixin {
	return []ent.Mixin{
		schemax.IntID{},
		schemax.AuditMixin{},
	}
}

// Fields of the HelloWorld.
func (HelloWorld) Fields() []ent.Field {
	return []ent.Field{
		field.Time("born"),
	}
}

// Edges of the HelloWorld.
func (HelloWorld) Edges() []ent.Edge {
	return nil
}

{{ end }}

{{ define "ent/generate" }}
package ent
{{ end }}