{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/project.Graph */}}
{{- define "mod" -}}
module {{ .Config.Package }}

go 1.20

require (
    {{- range .Mods }}
    {{ . }}
    {{- end }}
    entgo.io/contrib v0.6.0
    entgo.io/ent v0.14.0
    github.com/woocoos/knockout-go v0.0.0-20240829122518-cea89e619058
    github.com/tsingsun/woocoo/contrib/telemetry v0.1.5-0.20240522021626-a2b6e6d10802
)

require (
    cloud.google.com/go/compute v1.10.0 // indirect
)
{{/* resolve ambiguous import */}}
replace google.golang.org/genproto => google.golang.org/genproto v0.0.0-20240722135656-d784300faade

{{ end }}