{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/project.Graph */}}

{{ define "cmd/main" }}

{{ with $.Header }}{{ . }}{{ end }}
package main

import(
	"github.com/woocoos/knockout-go/ent/clientx"
	"github.com/woocoos/knockout-go/pkg/koapp"
	"{{ .Config.Package }}/api/graphql"

	_ "github.com/go-sql-driver/mysql"
	_ "github.com/woocoos/knockout-go/pkg/snowflake"
	_ "{{ .Config.Package }}/ent/runtime"
)

func main(){
    app := koapp.New()

    rmsSvr := graphql.NewServer(app)

	app.RegisterServer(rmsSvr, clientx.ChangeSet)
	if err := app.Run(); err != nil {
		panic(err)
	}
}

{{ end }}