[[/* gotype: github.com/tsingsun/woocoo/cmd/woco/project.Graph */]]

[[- define "web/src/document.tsx" -]]
import { Meta, Title, Links, Main, Scripts } from 'ice';

export default function Document() {
  return (
    <html>
    <head>
      <meta charSet="utf-8" />
      <meta name="description" content="knockout [[pkgName $.Package]] " />
      <link rel="icon" href="/favicon.ico" type="image/x-icon" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
      <Meta />
      <Title />
      <Links />
    </head>
    <body>
      <Main />
      <script crossOrigin="" src="https://jsd.onmicrosoft.cn/npm/react@18.2.0/umd/react.production.min.js"></script>
      <script crossOrigin="" src="https://jsd.onmicrosoft.cn/npm/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
      <script crossOrigin="" src="https://jsd.onmicrosoft.cn/npm/i18next@22.5.0/i18next.min.js"></script>
      <script crossOrigin="" src="https://jsd.onmicrosoft.cn/npm/react-i18next@12.3.1/react-i18next.min.js"></script>
    <Scripts />
    </body>
    </html>
  );
}

[[- end -]]