[[- define "web/.browserslistrc" -]]
defaults

[[- end -]]

[[- define "web/.editorconfig" -]]
# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
ij_typescript_spaces_within_imports = true

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
[[- end -]]

[[- define "web/.gitignore" -]]
# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
*.swp
*.dia~
.idea
.run
.vscode

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local

# tmp
.ice

# cache
.eslintcache
.stylelintcache
[[- end -]]

[[- define "web/.eslintignore" -]]
# dirs
build/
tests/
demo/
.ice/

# node test coverage
coverage/

# files
**/*-min.js
**/*.min.js
[[- end -]]

[[- define "web/.eslintrc.cjs" -]]
const {getESLintConfig} = require('@applint/spec');

module.exports = getESLintConfig(
  'react-ts', {
    rules: {
      "react-hooks/exhaustive-deps": 0
    }
  }
);

[[- end -]]

[[- define "web/.stylelintignore" -]]
# ignore dir
build/
tests/
demo/

# node test coverage
coverage/
[[- end -]]

[[- define "web/.stylelintrc.cjs" -]]
const { getStylelintConfig } = require('@applint/spec');

module.exports = getStylelintConfig('react');
[[- end -]]

[[- define "web/.env" -]]
# 应用appCode
ICE_APP_CODE=[[ pkgName $.Package]]

# 二级路由目录配置
ICE_ROUTER_BASENAME=/

# 部署应用的配置oss地址
ICE_APP_DEPLOY_CONFIG=

# http签名 可以设置为ko不是ko就使用默认签名方式
ICE_HTTP_SIGN=

# token
ICE_DEV_TOKEN=

# tenant_id
ICE_DEV_TID=

# 登陆地址
ICE_LOGIN_URL=/login

# ice proxy target
ICE_PROXY_ADMINX=http://127.0.0.1:8080/
ICE_PROXY_AUTH=http://127.0.0.1:10070/
ICE_PROXY_MAIN=http://127.0.0.1:10072/

# api前缀
ICE_API_ADMINX_PREFIX=/api-adminx
ICE_API_AUTH_PREFIX=/api-auth
ICE_API_FILES_PREFIX=/api-s3
ICE_API_MAIN_PREFIX=/api-main

# gql api完整地址
ICE_API_MAIN=${ICE_API_MAIN_PREFIX}/graphql/query
ICE_API_ADMINX=${ICE_API_ADMINX_PREFIX}/graphql/query

# 微前端开发适合测试使用
# 可配置值：http://localhost:xxx/
ICE_DEV_PUBLIC_PATH=/

# 微前端打包时候使用配置与具体部署位置有关
ICE_BUILD_PUBLIC_PATH=/

#gqlgen专用 adminx项目schema地址
GQLGEN_SCHEMA_ADMINX=http://127.0.0.1:8080/graphql/query

[[- end -]]

[[- define "web/.env.local" -]]

PORT=3002

# mock user token and tenantId
ICE_DEV_TOKEN=
ICE_DEV_TID=

# mock
ICE_PROXY_ADMINX=http://127.0.0.1:3002/mock-api-adminx/
ICE_PROXY_AUTH=http://127.0.0.1:3002/mock-api-auth/
ICE_PROXY_MAIN=http://127.0.0.1:3002/mock-api-main/

[[- end -]]