[[ define "web/src/models/app.ts" ]]
import { createModel } from 'ice';
import { setItem } from '@/pkg/local-store';
import { LocaleType } from '@knockout-js/layout';

type ModelState = {
  locale: LocaleType;
  darkMode: boolean;
  compactMode: boolean;
};

export default createModel({
  state: {
    locale: LocaleType.zhCN,
    darkMode: false,
    compactMode: false,
  } as ModelState,
  reducers: {
    updateLocale(prevState: ModelState, payload: LocaleType) {
      setItem('locale', payload);
      prevState.locale = payload;
    },
    updateDarkMode(prevState: ModelState, payload: boolean) {
      setItem('darkMode', payload);
      prevState.darkMode = payload;
    },
  },
  effects: () => ({}),
});
[[ end ]]

[[ define "web/src/models/user.ts" ]]
import { createModel } from 'ice';
import { LoginRes } from '@/services/auth';
import { setItem, removeItem, getItem } from '@/pkg/local-store';
import { User } from '@knockout-js/api';

type UserState = {
  id: string;
  displayName: string;
  avatar?: string;
};

type ModelState = {
  refreshToken: string;
  token: string;
  tenantId: string;
  user: UserState | null;
};


export default createModel({
  state: {
    token: '',
    refreshToken: '',
    tenantId: '',
    user: null,
    darkMode: false,
    compactMode: false,
  } as ModelState,
  reducers: {
    updateToken(prevState: ModelState, payload: string) {
      if (payload) {
        setItem('token', payload);
      } else {
        removeItem('token');
      }
      prevState.token = payload;
    },
    updateRefreshToken(prevState: ModelState, payload: string) {
      if (payload) {
        setItem('refreshToken', payload);
      } else {
        removeItem('refreshToken');
      }
      prevState.refreshToken = payload;
    },
    updateTenantId(prevState: ModelState, payload: string) {
      if (payload) {
        setItem('tenantId', payload);
      } else {
        removeItem('tenantId');
      }
      prevState.tenantId = payload;
    },
    updateUser(prevState: ModelState, payload: UserState | null) {
      if (payload) {
        setItem('user', payload);
      } else {
        removeItem('user');
      }
      prevState.user = payload;
    },
  },
  effects: () => ({
    /**
     * Login
     * @param payload
     */
    async loginAfter(payload: LoginRes) {
      if (payload.accessToken) {
        this.updateToken(payload.accessToken);
        if (payload.user) {
          this.saveUser({
            id: payload.user.id,
            displayName: payload.user.displayName,
            avatar: payload.user?.avatar || '',
          } as User)
          if (payload.user.domains?.length) {
            const tenantId = getItem<string>('tenantId')
            if (!payload.user.domains.find(item => item.id == tenantId)) {
              this.updateTenantId(payload.user.domains[0].id);
            }
          } else {
            this.updateTenantId('');
          }
        }
        this.updateRefreshToken(payload.refreshToken || '');
      }
    },
    /**
     * Logout
     */
    async logout() {
      this.updateToken('');
      this.updateUser(null);
    },
    /**
     * Update user info
     * @param user
     */
    async saveUser(user: User) {
      this.updateUser({
        id: user.id,
        displayName: user.displayName,
        avatar: user.avatar || undefined,
      });
    },
    /**
     * Update tenant id
     * @param tenantId
     */
    async saveTenantId(tenantId: string) {
      this.updateTenantId(tenantId);
    },
  }),
});

[[ end ]]